
@{
    ViewBag.Title = "CourseAddedPage";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>CourseAddedPage</h2>

<hr />
<hr />


<br />
<br/>
<br/>
<br/>
<br />
<br />



<h1> Your Course Will be Successfully Added</h1>
<a href="/Admin/Student/Myprofile"> Go to Dashboard</a>

